

#letras_rosas {
  color: #e53e8e }

#fondo {
  background-color: #e53e8e }

#migas {
background-color: transparent;
}

/*linea { 
  background-color: #e53e8e;
  height: 10px; 
  border-color: red; 
}

hr { 
  background-color: red; 
  height: 10px;
  border-color: red; 
}*/